body {
    background-color: gold;
    /*      aplicando color amarillo al fondo de la pagina*/  
    }
.header {
    background-color: rgb(80, 255, 109);
    width: 100%;
    height: 100px;
    }
.menu {
    background-color: antiquewhite;
    width: 100%;
    height: 450px;
}
.opciones {
    display: flex;
    font: 1em sans-serif;
    color: blue;
    flex-direction: row;
    justify-content: center;
}
.submenu {
    display: flex;
    /*height: 60px;*/
    margin: 15px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    flex-direction: row;
    justify-content: left;
}
.submenu2 {
    display: flex;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    flex-direction: row;
    justify-content: left;
}
ul {
    display: flex;
    list-style: none;
    justify-content: center;
    /* el justify-content usa por defecto el flex-direction a rouw (linea), al cambiar
    a columna ya funciona distinto */
    /* probar todas las otras posibilidades que son muchas */
    /* probar margin y pading */
    background-color: rgb(22, 177, 105);
    /* minuto 45 en adelante hace varios cambios minuto 54 importante */
}
ul li {
    background-color: rgb(16, 233, 81); 
    padding: 10px;
}



.venta {
    display: flex;
    background-color: lawngreen;
    width: 50%;
    height: 240px;
    /* aplicando color al cuerpo donde ira la tabla */     
    }
.informacion {
        display: flex;
        flex-direction: column;
        font-style: italic;
        list-style: none;
        background-color: rgb(167, 163, 163); 
        width: 40%;
        height: 340px;
        /* no supe como ponerlo al lado de venta (formulario) */
    }

    .titulo3 { 
        color: darkblue;
        text-align: center;
        text-decoration: underline;
    }
    .alto { 
        height: 300px;
    }
    .table {
        margin: auto;
    }
    .posicion {
        position: relative;
        bottom: 150px;
    }
    .colorcolumna {
        background-color: rgb(30, 143, 255);
       
    }
    .tamañoletra {
        font-family: Tahoma;
        font-size: 30px;
    }
    .tamañodias {
        font-family: Verdana;
        font-size: 18px;
    }
    .letra {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-style: bold;
    }
    .formulario {
        position: relative;
        width: 500px;
        height: 380px;
        margin: 0 auto;
        padding: 1em;
        box-sizing: border-box;
        border-color: black;
        background-color: rgb(140, 195, 243);
    }
    
footer {
    width: 100%;
    height: 30px;
    position: relative;
    bottom: 250%;
    background-color: black;
    color: aliceblue;
    }    
